@using Entity.Concrete;
@model List<Post>

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <a type="button" asp-action="CreatePost" asp-controller="Post" class="btn btn-primary">Form Paylaş</a>
        </div>
        <div class="col-md-10">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Post Id</th>
                        <th scope="col">Created Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">CreatedBy</th>
                    </tr>
                </thead>
                @foreach (var post in Model)
                {
                    <tbody>
                        <tr>
                            <th scope="row">@post.Id</th>
                            <td>@post.CreatedBy</td>
                            <td>Form-name</td>
                            <td>@post.Description</td>
                            <td>@post.CreatedAt</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>

